<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_HOST" value="db"/>
        <env name="DB_NAME" value="task_manager_test"/>
        <env name="DB_USER" value="task_user"/>
        <env name="DB_PASSWORD" value="task_password"/>
        <env name="DB_CHARSET" value="utf8mb4"/>
        <env name="DB_PORT" value="3306"/>
    </php>
</phpunit>